<h1>CADASTRAR PAGAMENTOS</h1>
<form action="/add-pagamentos" method="POST">
    <label >Descição</label>
    <input type="text" name="descricao"><br><br>

    <label >Valor</label>
    <input type="text" name="valor"><br><br>

    <button type="submit">Salvar pagamento</button>
</form>